/ape-dicionario-dados.aux
/monografia_ic_unifieo_alex_viera.aux
/monografia_ic_unifieo_alex_viera.ilg
/monografia_ic_unifieo_alex_viera.ind
/monografia_ic_unifieo_alex_viera.lof
/monografia_ic_unifieo_alex_viera.log
/monografia_ic_unifieo_alex_viera.lot
/monografia_ic_unifieo_alex_viera.out
/monografia_ic_unifieo_alex_viera.toc
/monografia_ic_unifieo_alex_viera.pdf
/monografia_ic_unifieo_alex_viera.synctex.gz
/tmp/
/monografia.pdf
/monografia.synctex.gz
/monografi.synctex.gz
/monografia.aux
/monografia.ilg
/monografia.ind
/monografia.lof
/monografia.log
/monografia.lot
/monografia.out
/monografia.toc
